@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
@use "utilities/utilities";
@use "pages/about-page";
@use "pages/contact-page";
@use "pages/index-page";
@use "pages/projects-page";


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: v.$light;
}

main {
  flex: 1;

  position: relative; 
  top: -150px; // Overlaps the main content over the header
}

p {
  padding-top: 9px;
}

custom-navbar {
    background: v.$mocha;
    .nav-link {
        color: v.$light;
    }
    .nav-link:hover {
        color: v.$peach;
    }
}

// Dynamically added to current page link
.active-nav-link::after {
    content: "";
    display: block;
    position: relative;
    bottom: 0;

    border-radius: 4px;

    background-color: v.$light;
    
    --widthpercent: 70;
    width: var(--widthpercent);
    height: 4px;
    margin: 1px calc(((100 - var(--widthpercent)) / 2) * 1%);

    transition: all .2s ease;
}
.active-nav-link:hover::after { 
    --widthpercent: 78;
}
@media (max-width: m.$sm) {
    .active-nav-link::after {
        width: 40px;
        margin-left: 8px;
    }

    .active-nav-link:hover::after { 
        width: 52px;
        margin-left: 2px;
    }
    
}


.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible,
.btn-close:focus,
.btn-close:active,
.btn-close:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f3f5e7' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f3f5e7'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
}


.offcanvas {
    background: v.$mocha !important;
    width: 250px !important;
}

custom-footer {
    background: v.$mocha;
    color: v.$light;
}


header {
    //padding-top: 90px;
    color: v.$dark;

    // Fades header at the bottom
    mask-image: linear-gradient(#000 40%, #0000); 
}

.finisher-header {
    height: 300px !important; 
    width: 100%;
    position: relative;
}

.submit-btn {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.inverted-accent-btn {
    background: none;
    color: v.$light;
    border: solid 2px v.$light;
}
.inverted-accent-btn:hover {
    background: v.$light;
    color: v.$coral;
    border: solid 3px v.$light;
}

.accent-btn {
    color: v.$light;
    border: solid 2px v.$coral;
    background: v.$coral;
}
.accent-btn:hover {
    background: none;
    color: v.$coral;
    border: solid 2px v.$coral;
}






