@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
@use "utilities/utilities";
@use "pages/about-page";
@use "pages/contact-page";
@use "pages/index-page";
@use "pages/projects-page";


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.submit-btn {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.inverted-accent-btn {
    background: none;
    color: v.$light;
    border: solid 2px v.$light;
}
.inverted-accent-btn:hover {
    background: v.$light;
    color: v.$coral;
    border: solid 3px v.$light;
}

.accent-btn {
    color: v.$light;
    border: solid 2px v.$coral;
    background: v.$coral;
}
.accent-btn:hover {
    background: none;
    color: v.$coral;
    border: solid 2px v.$coral;
}






