@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
@use "utilities/utilities";
@use "pages/about-page";
@use "pages/contact-page";
@use "pages/index-page";
@use "pages/projects-page";


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}






